<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/library/books/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="title">Title</label> <br>
  <input type="text" id="title" th:field="*{title}"> <br>
  <br>
  <label for="author">author</label> <br>
  <input type="text" id="author" th:field="*{author}"> <br>
  <br>
  <label for="publisher">publisher</label> <br>
  <input type="text" id="publisher" th:field="*{publisher}"> <br>
  <br>
  <label for="publicationYear">publicationYear</label> <br>
  <input type="number" id="publicationYear" th:field="*{publicationYear}"> <br>
  <br>
  <input type="submit" value="Edit">
  <br>
</form>
</body>
</html>