<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${reader.getFio()}">Reader</title>
</head>
<body>
<h3 th:text="${reader.getReaderId()}">id</h3>
<hr>
<h2>FIO</h2>
<p th:text="${reader.getFio()}">fio</p>

<h1>Email</h1>
<p th:text="${reader.getEmail()}">email</p>

<h1>Phone number</h1>
<p th:text="${reader.getPhone()}">email</p>

<h1>Birthday</h1>
<p th:text="${reader.getBirthday()}">email</p>
<hr>
<br>
<div th:if="${!reader.getBooks().isEmpty()}">
    <h1>Books</h1>
    <div th:each="book : ${reader.getBooks()}">
        <a th:text="${book.getTitle()}" th:href="@{http://localhost:8080/library/books/{id}(id=${book.getBookId()})}"></a>
        <br>
    </div>
</div>
<br>
<a th:href="@{/library/readers/{id}/edit(id=${reader.getReaderId()})}">Edit current reader</a>
<hr>
<form th:method="PATCH" th:action="@{/library/books/get}">
    <label for="book">Choose free book</label>
    <select th:object="${emptyBook}" th:field="*{bookId}" id="book">
        <option th:each="book : ${books}" th:value="${book.getBookId()}" th:text="${book.getTitle()}">
        </option>
    </select>
    <input type="submit" value="Get selected book">
</form>
<hr>
<form th:method="DELETE" th:action="@{{id}(id=${reader.getReaderId()})}">
    <input type="submit" value="DELETE">
</form>
</body>
</html>